NET FCLK LOC = "B8";
NET R[0] LOC = "R8";
NET R[1] LOC = "T8";
NET R[2] LOC = "R9";
NET G[0] LOC = "N8";
NET G[1] LOC = "P8";
NET G[2] LOC = "P6";
NET B[0] LOC = "U5";
NET B[1] LOC = "U4";
NET HSYNC LOC = "T4";
NET VSYNC LOC = "U3";
NET RST_IN loc = "h13";
NET PIXEL_DATA[0] LOC = G18;
NET PIXEL_DATA[1] LOC = H18;
NET PIXEL_DATA[2] LOC= K18;
NET PIXEL_DATA[3] LOC= K17;
NET PIXEL_DATA[4] LOC= L14;
NET PIXEL_DATA[5] LOC= L13;
NET PIXEL_DATA[6] LOC= N17;
NET PIXEL_DATA[7] LOC= R17;
