NET FCLK LOC = "B8";
NET R[0] LOC = "R8";
NET R[1] LOC = "T8";
NET R[2] LOC = "R9";
NET G[0] LOC = "N8";
NET G[1] LOC = "P8";
NET G[2] LOC = "P6";
NET B[0] LOC = "U5";
NET B[1] LOC = "U4";
NET HSYNC LOC = "T4";
NET VSYNC LOC = "U3";
NET RST_IN loc = "h13";
NET PIXEL_DATA[0] LOC = G18;
NET PIXEL_DATA[1] LOC = H18;
NET PIXEL_DATA[2] LOC= K18;
NET PIXEL_DATA[3] LOC= K17;
NET PIXEL_DATA[4] LOC= L14;
NET PIXEL_DATA[5] LOC= L13;
NET PIXEL_DATA[6] LOC= N17;
NET PIXEL_DATA[7] LOC= R17;
net ANODE[0] loc=F17;
net ANODE[1] loc=H17;
net ANODE[2] loc=C18;
net ANODE[3] loc=F15;
net SEG1[7] loc=L18;
net SEG1[6] loc=F18;
net SEG1[5] loc=D17;
net SEG1[4] loc=D16;
net SEG1[3] loc=G14;
net SEG1[2] loc=J17;
net SEG1[1] loc=H14;
net SEG1[0] loc=C17;
net tSDA loc = P11;
net tSCL loc = R12;